h1 {/*CSS조건 3번 완성*/
    text-align: center;
    font-size: 65px;
}
h2, h3, nav {/*CSS조건 3번 완성*/
    text-align: center;
    font-size: 45px;
}
div { /*CSS조건 3번 완성*/
    text-align: center;
    
}
@font-face {/*css조건 5번조건 완성*/
    font-family: 'NostalgicPoliceFairness'; /*css조건 5번 완성*/
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-6@1.0/Griun_PolFairness-Rg.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
body {
    font-family: 'NostalgicPoliceFairness';  /*css 조건 4번완성*/
    background-image: url(https://cdn.pixabay.com/photo/2020/09/09/02/12/smearing-5556288_1280.jpg);
    background-size: cover;
}


