@font-face {/*css조건 5번조건 완성*/
    font-family: 'YPairing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/YPairingFont.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
body {
    font-family: 'YPairing';
    background-image: url(https://png.pngtree.com/background/20220731/original/pngtree-beautiful-blue-sky-background-template-with-cloude-free-psd-picture-image_1909970.jpg);
    background-size: cover;
}
caption {
    font-size: 50px;
}
